#!/bin/bash
echo "=========building========"
npm run build --prod
echo "==========压缩==========="
rm -rf myblog-admin.zip
zip -r myblog-admin.zip ./dist/*
echo "==========推送到远端==========="
scp myblog-admin.zip ip:dir
echo "==========结束！！！==========="